.numberedList {
  list-style-type: none;
  padding-left: 0;
}

.codeBlock {
  background-color: #efefef;
  padding: 10px;
  counter-reset: line-numbering;
}

.codeLine {
  background-color: #efefef;
}

.codeLine::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 0.8em; /* space after numbers */
  margin-right: 5px;
  width: 1.5em;
  text-align: right;
  opacity: 0.5;
  background-color: #efefef;
}
